<a href="https://colab.research.google.com/github/golu628/assignment/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#1.
import pandas as pd

# Create a list of data
data = [4, 8, 15, 16, 23, 42]

# Create a Pandas Series from the data
series = pd.Series(data)

# Print the Series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [6]:
#2.
import pandas as pd

# Create a list of 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Create a Pandas Series from the list
series = pd.Series(my_list)

# Print the Series
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [11]:
#3.
import pandas as pd
data = {"name":["alice","bob","clarie"],
        "age":[25,30,27],
        "gender":["female","male","female"]}
df = pd.DataFrame(data)

print(df)

     name  age  gender
0   alice   25  female
1     bob   30    male
2  clarie   27  female

4.DataFrame:

A two-dimensional labeled data structure with columns and rows, similar to a spreadsheet.
Holds data of potentially different data types in each column.
Useful for organizing and managing tabular data.
Series:

A one-dimensional labeled array, similar to a list.
Holds data of a single data type.
Useful for representing one-dimensional data or a single column of a DataFrame.
Example:

Python
# Series (one-dimensional)
name_series = pd.Series(["Alice", "Bob", "Claire"])

# DataFrame (two-dimensional)
data = {
    "Name": name_series,
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}
df = pd.DataFrame(data)

print(name_series)  # Output: 0    Alice
                         #          1       Bob
                         #          2    Claire
                         #          dtype: object

print(df)  # Output:
          #    Name  Age Gender
          # 0  Alice   25  Female
          # 1    Bob   30    Male
          # 2  Claire   27  Female

As we can see, the Series can only hold a single data type (strings in this case), while the DataFrame can accommodate different data types (strings, integers, etc.) in each column.

5.Common Pandas DataFrame manipulation functions:

Selecting Data:

df.head(n): Returns the first n rows (default: 5).
df.tail(n): Returns the last n rows (default: 5).
df[column_name] or df["column_name"]: Selects a specific column.
df[condition]: Selects rows based on a condition (e.g., df[df["Age"] > 25]).
Example: Select the first two rows and the "Age" column.

Python
first_two_rows = df.head(2)
age_column = df["Age"]

Sorting Data:

df.sort_values(by="column_name", ascending=True/False): Sorts by a specific column in ascending or descending order.
Example: Sort the DataFrame by "Age" in ascending order.

Python
df_sorted_by_age = df.sort_values(by="Age")

Adding/Removing Data:

df.loc[index, "column_name"] = value: Sets the value at a specific index and column.
df.drop(index_label, axis=0/1): Removes a row (axis=0) or column (axis=1).
Example: Add a new column named "City" and drop the "Name" column.

Python
df["City"] = ["New York", "London", "Paris"]
df = df.drop("Name", axis=1)

Descriptive Statistics:

df.describe(): Shows summary statistics like mean, median, standard deviation, etc.
Example: Get summary statistics for numerical columns.

6.Out of the three options, DataFrame and Panel are mutable in nature, while Series is immutable in terms of size (length).

Here's a breakdown:

Series: While you can modify existing elements by accessing them directly (e.g., series[0] = 10), you cannot change the size of the Series (i.e., add or remove elements) using standard methods.
DataFrame and Panel: Both DataFrames and Panels are mutable. You can:
Modify existing elements (similar to Series).
Add new columns/items using methods like df['new_column'] = ... or panel['new_item'] = ....
Remove columns/items using methods like df.drop('column_name', axis=1) or panel.pop('item_name').
Change the order of rows/items using methods like df.sort_values('column_name') or panel.transpose('items').
Therefore, DataFrames and Panels offer greater flexibility in modifying their structure and data compared to Series.

7.Here's how to create a DataFrame using multiple Series:

1. Create individual Series:

Start by creating separate Series objects for each column you want in your DataFrame. Each Series will have an index that corresponds to the rows in the DataFrame.

Python
import pandas as pd

# Create Series for different columns
name_series = pd.Series(["Alice", "Bob", "Claire"])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(["Female", "Male", "Female"])
Use code with caution.
2. Combine Series into a DataFrame:

Use the pd.DataFrame constructor and pass a dictionary to it. The dictionary keys become the column names, and the values are the Series objects you want to include.

Python
# Combine Series into a DataFrame
data = {
    "Name": name_series,
    "Age": age_series,
    "Gender": gender_series
}

df = pd.DataFrame(data)
Use code with caution.
3. Print the DataFrame:

Python
print(df)
Use code with caution.
Output:

   Name  Age Gender
0  Alice   25  Female
1    Bob   30    Male
2  Claire   27  Female
Explanation:

We created individual Series for "Name", "Age", and "Gender".
The dictionary data maps column names to their corresponding Series.
The pd.DataFrame(data) constructor combines these Series into a DataFrame with those columns.
This approach is useful when you have data coming from different sources or when you need to manipulate data before constructing the final DataFrame.